.advantages {
  width: 320px;
  padding: 28px 30px;
}

.advantages__title {
  margin-bottom: 20px;

  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  line-height: $line-height-30;
  color: $color-black;
}

.advantages__item {
  position: relative;
  padding-top: 55px;
  padding-bottom: 30px;

  font-size: $font-size-emphasis;
  font-weight: $font-weight-bold;
  line-height: $line-height-20;
  color: $color-black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eco::before {
    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--nordic::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    width: 33px;
    height: 28px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--love::before {
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--patriot::before {
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}
