.arrows {
  display: flex;

  background-color: white;
}

.arrows__toggle {
  height: 52px;

  background-color: white;
  border: solid 1px $color-grey-light;

  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--back {
    border-left-width: 0;
    transform: scale(-1, 1);
  }
}
