.btn {
  display: inline-block;
  width: 100%;
  padding: 15px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.176em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  color: $color-text;

  background-color: white;
  border: solid 2px $color-text;

  &--write {
    font-size: ($font-size-h4 + 1);
  }

  &:hover {
    color: white;
    background-color: $color-text;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-text;
  }

  &--seafoam-blue {
    line-height: 0.941em;
    color: white;
    background-color: $color-main;
    border-color: $color-main;

    &:hover {
      color: white;
      background-color: $color-main-darker;
      border-color: $color-main-darker;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $color-main-darker;
      border-color: $color-main-darker;
    }
  }

  &--production {
    &:hover {
      color: $color-text;
      background-color: white;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      color: $color-text;
      background-color: white;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
