.catalog-products__title {
  display: block;
  padding: 75px 30px;

  font-size: $font-size-h1;
  font-weight: bold;
  line-height: 1.111em;
  text-align: center;
  color: black;

  background-color: $color-grey-light;
}
