.categories {
  width: auto;
  position: relative;
  background-color: $color-grey-lighter;

  @media (min-width: $screen-tablet) {
    width: auto;
    margin: 0 auto;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;

    background-color: transparent;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;

    @media (min-width: $screen-tablet) {
      display: block;
      width: 100%;
      height: 21px;
      background-size: auto 23px;
      bottom: -5px;
      z-index: 1;
    }

    @media (min-width: $screen-desktop) {
      height: 33px;
      background-size: auto 37px;
      bottom: -12px;
    }
  }
}

.categories__wrapper {
  width: 100%;
  height: auto;
  border-top: 1px solid $color-grey-light;

  background-color: $color-grey-lighter;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: 575px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: $screen-tablet) {
    width: 668px;
    min-height: 740px; // PP
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
    background-size: 1150px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  @media (min-width: $screen-desktop) {
    width: 1050px;
    margin: 0 auto;

    // background-image: url("../img/hero-desktop@1x.jpg");
    // background-position: center 0;
    // background-size: 1150px auto;

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //   background-image: url("../img/hero-desktop@2x.jpg");
    //   background-size: 1150px auto;
    // }
  }
}

.categories__title {
  width: auto;
  min-height: 283px;
  padding: 0 38px;
  padding-top: 70px;
  margin: 0 auto;

  font-size: $font-size-h1;
  font-weight: bold;
  line-height: 1.111em;
  text-align: center;
  color: black;

  @media (min-width: $screen-tablet) {
    min-height: 628px;
    padding-top: 155px;
    font-size: $font-size-big;
    line-height: 1.16em;
  }

  @media (min-width: $screen-desktop) {
    font-size: $font-size-biger;
    line-height: 1.08em;
  }
}

.categories__list {
  @media (min-width: $screen-tablet) {
    margin-top: auto;
    display: flex;
  }
}

.categories__link {
  display: block;
  position: relative;

  padding: 26px 30px 30px;

  @media (min-width: $screen-tablet) {
    width: 50%;
    min-height: 119px;
    padding: 26px 34px 30px;
    flex-grow: 1;
  }

  @media (min-width: $screen-desktop) {
    padding: 26px 36px 30px;
  }

  &--interior {
    background-color: $color-main;
    border-bottom: 5px solid $color-main; // для ховера

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 36px;

      width: 40px;
      height: 62px;

      background-color: transparent;
      background-image: url("../img/icon-interior.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;

      @media (min-width: $screen-tablet) {
        top: 28px;
      }
    }
  }

  &--toys {
    margin-top: -5px;  // для ховера
    background-color: $color-main-dark;
    border-bottom: 10px solid $color-main-dark; // для ховера

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;

      background-color: transparent;
      background-image: url("../img/icon-toy.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;

      @media (min-width: $screen-tablet) {
        top: 28px;
        right: 33px;
      }
    }

    @media (min-width: $screen-tablet) {
      margin-top: 0;  // для ховера
      border-bottom: 5px solid $color-main-dark; // для ховера
    }
  }

  &:hover,
  &:focus {
    transform: translate(0, -5px);
  }

  &:active .categories__item {
    opacity: 0.3;
  }
}

.categories__link--interior:active::after,
.categories__link--toys:active::after {
  opacity: 0.3;
}

.categories__item {
  display: block;
  width: 110px;

  font-size: $font-size-h3;
  font-weight: bold;
  line-height: 1.263em;
  text-align: left;
  color: white;

  @media (min-width: $screen-tablet) {
    font-size: ($font-size-h3 + 1);
    line-height: 1.5em;
  }
}
