.contacts {
  position: relative;
  width: auto;

  @media (min-width: $screen-tablet) {
    width: auto;
    margin: 0 auto;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-direction: column;

    width: 1050px;
    margin: 0 auto;
    min-height: 656px;
    padding-bottom: 105px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 7px;

    background-color: transparent;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 7px;
    background-repeat: repeat-x;

    @media (min-width: $screen-tablet) {
      height: 15px;
      background-size: auto 15px;
    }

    @media (min-width: $screen-desktop) {
      height: 23px;
      background-size: auto 23px;
    }
  }
}

.contacts__wrapper {
  position: relative;
  padding: 39px 30px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;

    width: 672px;
    margin: 0 auto;
  }

  @media (min-width: $screen-desktop) {
    align-items: flex-start;

    width: 1050px;
    margin: 0 auto;
    padding: 0 540px 0 174px;
  }

  &--top {
    padding: 42px 30px 20px;

    @media (min-width: $screen-tablet) {
      width: 672px;
      padding: 62px 0 52px;
    }

    @media (min-width: $screen-desktop) {
      width: 1050px;
      margin: 0 auto;
      padding: 150px 540px 0 174px;
    }
  }

  &--map {
    position: relative;
    padding: 0;

    background-color: grey;

    @media (min-width: $screen-tablet) {
      width: 100%;
      height: 457px;
      padding: 0;
    }

    @media (min-width: $screen-desktop) {
      position: absolute;
      top: 94px;
      right: 0;

      width: 525px;
      height: 457px;
      object-fit: contain;
    }

    &::after {  //кастомный пин на карте
      content: "";
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 0);

      width: 67px;
      height: 100px;

      background-color: transparent;
      background-image: url("../img/icon-map-pin.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--btn {
    @media (min-width: $screen-tablet) {
      padding: 55px 30px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: auto;
    }
  }
}

.contacts iframe {
  position: absolute;
  width: 100%;
  height: 457px;

  border: 0;

  z-index: 1;
}

.contacts__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: ($font-size-h4 + 1);
  font-weight: bold;
  line-height: 1.667em;
  color: black;

  @media (min-width: $screen-tablet) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    font-size: 43px;
    line-height: 1.163em;

    &::after {
      content: "";
      display: block;
      flex-shrink: 0;

      width: 47px;
      height: 81px;
      margin-right: 5px;

      background-color: transparent;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $screen-desktop) {
        margin-right: 64px;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -114px;

    font-size: 53px;
    line-height: 1.075em;
  }
}

.contacts__table {
  margin-left: -4px; // PP

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 40px;
  }
}

.contacts__table tbody {
  @media (min-width: $screen-tablet) {
    display: flex;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: column;
    width: 320px;
  }
}

.contacts__item,
.contacts__value {
  padding: 14px 0;
  vertical-align: top;
  text-align: left;

  @media (min-width: $screen-tablet) {
    padding: 0;
    font-size: $font-size-h4;
    line-height: 1.765em;
  }
}

.contacts__item {
  padding-right: 30px;

  @media (min-width: $screen-tablet) {
    padding-right: 25px;
  }
}

.contacts__email {
  padding-bottom: 6px;
  color: $color-text;
  box-shadow: inset 0 -1px 0 0 $color-main-light;

  &:hover {
    color: $color-add;
    box-shadow: inset 0 -1px 0 0 $color-add;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    box-shadow: inset 0 -1px 0 0 rgba(70, 193, 174, 0.1);
  }

  @media (min-width: $screen-tablet) {
    margin-right: 50px;
  }
}

.contacts__map {
  display: block;
  width: 320px;
  height: 457px;
  margin: 0 auto;
}

.contacts__button {
  @media (min-width: $screen-desktop) {
    margin: 0;
  }
}
