.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0 18px; //PP
}

.copyright__text {
  display: block;
  margin-right: 30px;

  font-size: $font-size-h3;
  font-weight: bold;
  line-height: 0.947em;
  color: black;

  &:active {
    opacity: 0.3;
  }
}

.copyright p {
  @media (min-width: $screen-tablet) {
    margin-top: 20px;
  }
}

.copyright__link {
  @media (min-width: $screen-tablet) {
    margin-top: 20px; // проверить после вставки svg
  }
}

.copyright__link .copyright__logo-img {
  width: 27px;
  height: 34px;

  &:hover {
    fill: $color-add;
  }

  &:active {
    fill: $color-add;
    opacity: 0.3;
  }
}

.copyright__logo-img path {
  fill: inherit;
}
