.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 22px 0;
}

.copyright__text {
  display: block;
  margin-right: 30px;

  font-size: $font-size-h3;
  font-weight: bold;
  line-height: 0.947em;
  color: black;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
}

.copyright__link path {
  &:hover {
    fill: $color-add;
  }

  &:active {
    fill: $color-add;
    opacity: 0.3;
  }
}
