.field-radio {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field-radio__item {
  margin-bottom: 40px;
}

.field-radio__input {
  @include hide();

  &:checked ~ .field-radio__name::after {
    display: block;
  }

  &:focus ~ .field-radio__name::before {
    border: 2px solid $color-text;
    opacity: 0.3;
  }
}

.field-radio__name {
  position: relative;
  padding-left: 62px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $color-text;
    border-radius: 50%;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 12px;

    width: 16px;
    height: 16px;

    background-color: $color-main-light;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border: 2px solid $color-main-light;
    }
  }
}
