.field-text {
  margin-bottom: 40px;

  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 50px;
  }
}

.field-text__name {
  position: relative;
  display: flex;
  align-items: center;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.059em;
  color: black;

  @media (min-width: $screen-tablet) {
    margin-right: 25px;
  }

  &--fieldset {
    flex-shrink: 0;
    line-height: 0.941em;
    text-transform: uppercase;
    color: $color-main;

    &::after {
      content: "";
      display: block;
      flex-grow: 1;

      width: 100%;
      height: 2px;
      margin-left: 22px;

      background-color: $color-main-light;

      @media (min-width: $screen-tablet) {
        display: none;
      }
    }
  }
}

.field-text__input {
  display: block;
  width: 100%;
  padding: 18px 0;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;

  &[type="text"]::placeholder {
    font-weight: normal;
    color: $color-text;
    opacity: 0.3;
  }

  &[type="email"]::placeholder {
    font-size: $font-size-h4;
    font-weight: normal;
    color: $color-text;
    opacity: 0.3;
  }

  &[type="tel"]::placeholder {
    font-size: $font-size-h3;
    font-weight: normal;
    line-height: 0.947em;
    color: $color-text;
    opacity: 0.3;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 $color-main-light;
  }
}
