.form__intro {
  padding: 0;
  margin: 0;

  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 30px;

  font-size: ($font-size-text - 2);
  font-weight: normal;
  line-height: 1.846em;
  color: $color-text;

  @media (min-width: $screen-tablet) {
    padding-top: 60px;
    padding-right: 54px;

    font-size: $font-size-h4;
    line-height: 1.765em;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 111px;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.059em;
  color: black;

  @media (min-width: $screen-tablet) {
    font-size: $font-size-h3;
    line-height: 0.947em;
  }
}

.form__fieldset-conteiner {
  margin-bottom: 30px;

  @media (min-width: $screen-tablet) {
    display: flex;

    padding-top: 60px;
    margin: 0 -50px;

    &--grey {
      background-color: $color-grey-lighter;
    }
  }
}

.form__group-name {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 0.941em;
  text-transform: uppercase;
  color: $color-main;

  @media (min-width: $screen-tablet) {
    width: 111px;
    margin-left: 50px;
    flex-shrink: 0;
  }

  &::after {
    content: "";
    display: block;
    flex-grow: 1;

    width: 100%;
    height: 2px;
    margin-left: 22px;

    background-color: $color-main-light;

    @media (min-width: $screen-tablet) {
      display: none;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    width: 100%;
    margin-right: 50px;
  }
}

.form__additional {
  width: 100%;
  border: solid 2px $color-text;
  background-color: white;

  &::placeholder {
    padding: 18px;
    font-weight: normal;
    color: $color-text;
    opacity: 0.3;
  }

  &:hover {
    border-color: $color-main-light;
  }
}

.form__footnote-wrapper {
  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__footnote {
  margin-bottom: 30px;

  font-size: ($font-size-text - 1);
  font-weight: normal;
  line-height: 1.143em;
  color: $color-text;

  @media (min-width: $screen-tablet) {
    order: 2;
    margin: 0;

    font-size: $font-size-h4;
    line-height: 1.76em;
  }
}

.form__button {
  @media (min-width: $screen-tablet) {
    order: 1;
    margin: 0;
  }
}
