.main-nav {
  position: relative;
  width: auto;

  @media (min-width: $screen-tablet) {
    width: 668px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $screen-desktop) {
    width: 1050px;
    justify-content: flex-start;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: black;
  box-shadow: 0 7px 0 0 black, 0 14px 0 0 black;
}

.main-nav--opened .main-nav__toggle {
  top: 29px;
  right: 30px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: -4px;

    width: 28px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__item,
.main-nav--nojs .main-nav__toggle {
  @media (max-width: $screen-tablet - 1) {
    display: none;
  }
}

.main-nav--opened .main-nav__item,
.main-nav--nojs .main-nav__item {
  @media (max-width: $screen-tablet - 1) {
    display: block;
  }
}

.main-nav__logo-wrapper {
  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  // z-index:; // TODO проверить

  width: 21px;
  height: 20px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--site {
    @media (min-width: $screen-tablet) {
      width: 50%;
      padding-right: 30px;
      order: 2;
    }

    @media (min-width: $screen-desktop) {
      justify-content: flex-start;
      width: 450px;
      padding-right: 40px; // править вместе с шириной выше
      order: -1;
    }
  }

  &--user {
    @media (min-width: $screen-tablet) {
      width: 350px;
      margin-left: auto;
    }
  }

  &--offer {
    display: none;

    @media (min-width: $screen-desktop) {
      width: 50%;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 0 $color-grey-light, inset 0 1px 0 0 $color-grey-light;

  @media (min-width: $screen-tablet) {
    box-shadow: none;
  }

  &--search {
    @media (min-width: $screen-tablet) {
      border-left: 1px solid $color-grey-light;
      border-right: 1px solid $color-grey-light;
    }
  }

  &--offer {
    @media (min-width: $screen-desktop) {
      margin-right: 62px;
    }
  }

  &--site {
    @media (min-width: $screen-desktop) {
      border-right: 1px solid $color-grey-light;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 28px;
  padding-left: 76px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.412em;
  color: black;
  background-color: transparent;

  &--site {
    @media (min-width: $screen-tablet) {
      padding: 0;

      font-size: $font-size-text;
      line-height: 1.41em;
    }

    @media (min-width: $screen-desktop) {
      padding: 30px 35px;

      font-size: $font-size-h4;
      line-height: 1.6em;

      &--first {
        padding-left: 0;
      }
    }
  }

  &--search {
    @media (min-width: $screen-tablet) {
      width: 82px;
      min-height: 87px;
      padding: 0;
      font-size: 0;
    }
  }

  &--cart {
    @media (min-width: $screen-tablet) {
      padding: 30px 0 30px 80px;
      text-align: right;
    }

    @media (min-width: $screen-desktop) {
      padding: 30px 0 30px 80px;
    }
  }

  &--offer {
    font-size: $font-size-text;
    font-weight: bold;
    line-height: 1.6em;
    color: black;

    @media (min-width: $screen-desktop) {
      padding: 0;
    }
  }
}

.main-nav__link[href] {
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__icon-search {
  position: absolute;
  top: 32px;
  left: 30px;

  width: 21px;
  height: 18px;

  opacity: 0.2;

  @media (min-width: $screen-tablet) {
    top: 36px;
    left: 32px;
  }

  @media (min-width: $screen-desktop) {
    top: 35px;
    left: 30px;
  }
}

.main-nav__icon-cart {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 18px;
  height: 18px;

  opacity: 0.2;

  @media (min-width: $screen-tablet) {
    top: 32px;
  }
}

.main-nav__link--search:hover .main-nav__icon-search,
.main-nav__link--search:focus .main-nav__icon-search,
.main-nav__link--cart:hover .main-nav__icon-cart,
.main-nav__link--cart:focus .main-nav__icon-cart { // были path
  opacity: 1;
  fill: $color-main; // не работает
}

.main-nav__delivery {
  display: none;

  @media (min-width: $screen-tablet) {
    width: 50%;
    padding-left: 10px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    order: 3;
  }
}

.main-nav__delivery-link {
  display: block;

  font-size: $font-size-text;
  font-weight: normal;
  line-height: 1.6em;
  text-align: right;
  color: $color-text;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}
