.modal {
  /*
  display: none;
  position: fixed;
  z-index: 100;

  top: 50%;
  left: 0;
  */
  width: 320px;
  min-height: 336px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px $color-grey;
}

.modal__wrapper {
  padding: 35px 30px;
}

.modal__title {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-size: $font-size-h2;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.modal__text {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;
}
