.page-footer {
  padding: 0 30px;

  background-color: $color-grey-light;
}

.page-footer__social {
  margin: 0 auto;
  border-bottom: 1px solid $color-text;
}

.page-footer__copyright {
  margin: 0 auto;
}
