.page-footer {
  width: 320px;
  padding: 0 30px;

  background-color: $color-light-grey;
}

.page-footer__social {
  margin: 0 auto;
  border-bottom: $border-grey;
}

.page-footer__copyright {
  margin: 0 auto;
}
