.production {
  position: relative;
  width: auto;
  margin: 0 30px 58px;

  border: 1px solid $color-grey-light; // на больших ширинах уходит на информации

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;

    width: 668px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 63px;
    border: 0;
  }

  @media (min-width: $screen-desktop) {
    width: 1050px;
    margin-bottom: 105px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  display: flex;
  align-items: center;

  margin: 0;
  padding: 20px 30px 20px 20px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.412em;
  color: black;

  @media (min-width: $screen-tablet) {
    order: 2;

    padding: 40px 30px 20px 40px;
    border: 1px solid $color-grey-light;
    border-bottom: none;

    font-size: ($font-size-h3 + 1);
    line-height: 1.2em;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: column;
    align-items: flex-start;

    padding: 40px 57px 20px 761px;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;

    width: 32px;
    height: 22px;
    margin-right: 25px;

    background-color: transparent;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $screen-desktop) {
      margin-bottom: 30px;
    }
  }
}

.production__video-wrapper {
  position: relative;

  margin-bottom: 30px;

  background-color: transparent;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $screen-tablet) {
    order: 1;

    width: 668px;
    height: 455px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.production__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: none;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__offer-wrapper {
  padding: 0 34px;

  @media (min-width: $screen-tablet) {
    order: 3;

    padding: 0 40px;
    border: 1px solid $color-grey-light;
    border-top: none;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-direction: column;

    min-height: 294px;
    padding: 0 57px;
    padding-left: 761px;
  }
}

.production__text {
  margin-bottom: 30px;

  font-size: ($font-size-text - 2);
  font-weight: normal;
  line-height: 1.846em;
  color: $color-text;

  @media (min-width: $screen-tablet) {
    font-size: $font-size-text;
    line-height: 2em;
  }
}

.production__link {
  margin-bottom: 46px;

  @media (min-width: $screen-tablet) {
    margin-top: auto;
    margin-bottom: 60px;
  }
}
