.product {
  flex-shrink: 0;
  width: auto;
  margin-top: 30px;

  @media (min-width: $screen-tablet) {
    display: flex;
    width: 100%;
    margin-top: 54px;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: column;
    width: 316px;
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 57px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:first-child {
    @media (min-width: $screen-tablet) {
      margin-top: 68px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: 0;
    }
  }

  &:last-child {
    margin-bottom: 30px;

    @media (min-width: $screen-tablet) {
      margin-bottom: 54px;
    }

    @media (min-width: $screen-desktop) {
      margin-bottom: 57px;
    }
  }

  &:nth-child(3n) {
    @media (min-width: $screen-desktop) {
      margin-right: 0;
    }
  }
}

.product__img-link {
  display: block;
  background-color: $color-grey-light;

  @media (min-width: $screen-tablet) {
    flex-shrink: 0;
  }
}

.product__img {
  display: block;
  width: 100%; // auto;
  height: auto; // 195px;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $screen-desktop) {
    width: 316px;
    height: 462px;
  }
}

.product__cover {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  min-height: 178px;
  padding: 28px 28px 25px;
  border: solid 1px $color-grey-light;

  @media (min-width: $screen-tablet) {
    width: 334px;
    min-height: 334px;
    padding: 26px 27px;
  }

  @media (min-width: $screen-desktop) {
    width: 316px;
    min-height: 197px;
    padding: 26px 30px 25px 27px;
    flex-grow: 1;
  }
}

.product__link {
  text-decoration: none;
}

.product__title {
  margin: 0 0 5px 0;
  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.412em;
  color: black;

  @media (min-width: $screen-tablet) {
    font-size: ($font-size-h3 + 1);
    line-height: 1.2em;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__description {
  margin: 0 0 17px 0;

  font-size: ($font-size-text - 2);
  font-weight: normal;
  line-height: 2.308em;
  color: $color-text;

  @media (min-width: $screen-tablet) {
    font-size: $font-size-text;
    line-height: 2em;
  }

  @media (min-width: $screen-desktop) {
    margin: 0 0 13px 0;
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 23px;
  border-top: 1px solid $color-grey-light;

  margin-top: auto;

  @media (min-width: $screen-tablet) {
    padding-right: 4px;
  }

  @media (min-width: $screen-desktop) {
    padding-right: 0;
  }
}

.product__price {
  padding-right: 10px;

  font-size: $font-size-text;
  font-weight: bold;
  line-height: 1.6em;
  color: black;

  @media (min-width: $screen-tablet) {
    padding-left: 2px;

    font-size: $font-size-h4;
    line-height: 1.41em;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 0;
  }
}

.product__buy-link {
  width: 20px;
  height: 19px;
  object-fit: contain;
  opacity: 0.2;
  transform: translate(0, -5px);

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:hover .product__icon-cart,
  &:focus .product__icon-cart {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .product__icon-cart {
    fill: $color-main;
  }
}

svg path {
  fill: inherit;
}
