.reviews {
  position: relative;

  @media (min-width: $screen-tablet) {
    padding-top: 75px;

    background-color: white;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 350px 457px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    margin: 0 auto;
  }
}

.reviews__wrapper {
  padding: 0 30px;

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0 100px 0 174px;
  }
}

.reviews__title {
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: 1.2em;
  color: black;

  @media (min-width: $screen-tablet) {
    margin-top: 0;
    font-size: 43px;
    line-height: 1.163em;
  }

  @media (min-width: $screen-desktop) {
    font-size: 53px;
    line-height: 1.075em;
  }
}

.reviews__list {
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }
}

.reviews__item {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0;
}

.reviews__text {
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    font-size: $font-size-h4;
    line-height: 1.765em;
  }
}

.reviews__author {
  font-size: $font-size-h4;
  font-weight: bold;
  font-style: normal;
  line-height: 1.412em;
  color: black;

  @media (min-width: $screen-tablet) {
    font-size: ($font-size-h4 + 1);
    line-height: 1.333em;
  }
}

.reviews__nik {
  font-size: $font-size-h4;
  font-weight: normal;
  font-style: normal;
  line-height: 1.765em;
  color: $color-text;

  @media (min-width: $screen-tablet) {
    margin-bottom: 50px;
    font-size: $font-size-h4;
    line-height: 1.765em;
  }
}

.reviews__toggles {
  margin-bottom: 38px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: 62px;
    right: 52px;
    margin-bottom: 0;
  }
}

.reviews__button {
  margin-bottom: 51px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    top: 79px;
    right: 52px;
  }
}
