.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.site-list__link {
  display: block;
  padding: 30px;
  padding-left: 76px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.412em;
  color: black;
}
