.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;

  padding-top: 26px;
  padding-bottom: 26px;
}

.social-list__vh {
  @include hide();
}
