.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  list-style: none;
}

.social-list__item {
  margin-right: 40px;

  &--twitter {
    margin-right: 0;
  }
}

.social-list__link {
  width: 22px;
  height: 28px;

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: $color-add;
  }

  &:active .social-list__icon {
    fill: $color-add;
    opacity: 0.3;
  }
}

// svg path { // перенесён в global
//   fill: inherit;
// }
