.user-list__item {
  padding: 30px;
  padding-left: 76px;

  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.412em;
  color: black;

  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.user-list__search {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -44px;

    width: 18px;
    height: 18px;

    background-color: transparent;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.user-list__cart {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -46px;

    width: 21px;
    height: 18px;

    background-color: transparent;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}
